{% extends 'base.html.twig' %}

{% block title 'profile de '~user.prenom %}

{% block stylesheets %} {%  endblock  %}

{% block body %}
    <style>
        .color-form {
            background-color: lightgray;
        }

    </style>
    <div class="d-flex justify-content-between">
        <div class="text-center border mx-2 p-4">
            <div class="d-flex container ml-4">
                <img  src="{{ app.user.avatar }}" class="rounded-circle" alt="">
                <p class="my-2"><strong>{{ app.user.prenom | title }}</strong></p>
            </div>
            <span class="font-weight-bold">5.5 <i class="fas fa-star text-warning"></i></span>
            <div class="my-5 text-left ml-2 p-2">
                <h4>Données personnelles</h4>
                <div>
                    <div class="my-2">
                        <h5>Prénom</h5>
                        <h5 class="border  bg-white">{{ app.user.prenom }}</h5>
                    </div>
                    <div class="my-2">
                        <h5>Nom</h5>
                        <h5 class="border bg-white ">{{ app.user.nom }}</h5>
                    </div>
                    <div class="my-2">
                        <h5>Date de Naissance</h5>
                        <h5 class="border bg-white ">{{ app.user }}</h5>
                    </div>
                    <div class="my-2">
                        <h5>Email</h5>
                        <h5 class="border bg-white">{{ app.user.email }}</h5>
                    </div>
                    <div class="my-2">
                        <h5>Numéro de telephone</h5>
                        {% if app.user.telephone %}
                            <h5 class="border bg-white ">{{ app.user.telephone }}</h5>
                        {% else %}
                            <h5 class="border bg-white ">#########</h5>
                        {% endif %}
                    </div>
                    <div class="my-3 text-center">
                        <button type="submit" class="btn text-white" style="background-color: #2c3e50;">Valider</button>
                    </div>
                </div>
            </div>
            <div class="my-5 border bg-white mx-2 p-3">
                <h3>Supprimer du compte</h3>
                <p>Attention cette action est irreversible</p>
                <button class="btn btn-warning">Supprimer mon compte</button>
            </div>
        </div>
        <div class="mx-2">
            <div class="border p-4 my-5 bg-white">
                <h6>Texte de Presentation</h6>
                <p>{% if  app.user.presentation  %}
                        {{ app.user.presentation }}
                    {% else %}Bonjour je suis {{ app.user }}{% endif %}</p>
            </div>
            <div class="border p-4 bg-white">
                <h6>Etudes et Diplomes</h6>
                <p class="text-center">{% if  app.user.etudeEtDiplome  %}
                        {{ app.user.etudeEtDiplome }}
                    {% else %}Pas DIPLOME{% endif %}
                </p>
            </div>
        </div>
        <div>
            <div class="border p-5 my-5 bg-white w-100">
                <h6 class="text-center">Mon Calendrier</h6>
                <div id="calendrier"></div>
            </div>
            <div class="border p-5 bg-white">
                <h6>Changer mon mot de passe</h6>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    window.onload = () => {
        let calnedarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calnedarElt, {
            themeSystem: 'bootstrap',
            height: 300,
            contentHeight: 600,
            initialView: 'dayGridMonth',
            locale : 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                end: 'dayGridMonth,timeGridWeek'
            },
            events: [
                {
                    id: '{% if creneau %}{{ creneau.id }}{% endif %}',
                    title: '{{ annonceTitre }}',
                    start: '{{ start }}',
                    end: '{{ end }}'
                }
            ]

        });
        calendar.render();
    }
</script>
{% endblock %}
