{% extends "base.html.twig" %}

{% block title %}Annonce publiées{% endblock %}

{% block body %}
	<div class="row">
		<div class="col">
			<p>
				<a href="{{path('choix_annonces')}}" class="btn btn-secondary mx-2 my-2 my-sm-0">Retour</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-6">
			{%  if annoncesPubliéesEleve is defined %}
				{% for annonce in annoncesPubliéesEleve %}
					<div class="card border-primary mb-3">
						<div class="row">
							<div class="col">
								<div class="card-body">
									<h4 class="card-title">
										<a href="{{ path('annonce_display', {'id' : annonce.id}) }}">
											{{ annonce }}</a>
									</h4>
									<a href="{{path('candidatures', {'id' : annonce.id})}}" class="btn btn-primary mx-2 my-2 my-sm-0">Candidatures</a>
									<p class="card-text">Statut : élève</p>
								</div>
							</div>
							<div class="col">
								<a href="{{path('consultation_profil', {'id' : annonce.auteur.id})}}">
									<div>
										<img class="rounded-circle avatar-moyen rounded mx-auto d-block mt-2" src="{{ annonce.auteur.avatar}}" alt="Avatar de {{  annonce.auteur.prenom }}">
									</div>
									<div class="d-flex justify-content-center text-dark">
										{{  annonce.auteur.prenom }}
									</div>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			{%  if annoncesPubliéesTuteur is defined %}
				{% for annonce in annoncesPubliéesTuteur %}
					<div class="card border-primary mb-3">
						<div class="row">
							<div class="col">
								<div class="card-body">
									<h4 class="card-title">
										<a href="{{ path('annonce_display', {'id' : annonce.id}) }}">
											{{ annonce }}</a>
									</h4>
									<p class="card-text">Statut : tuteur</p>
								</div>
							</div>
							<div class="col">
								<a href="{{path('consultation_profil', {'id' : annonce.auteur.id})}}">
									<div>
										<img class="rounded-circle avatar-moyen rounded mx-auto d-block mt-2" src="{{ annonce.auteur.avatar}}" alt="Avatar de {{  annonce.auteur.prenom }}">
									</div>
									<div class="d-flex justify-content-center text-dark">
										{{  annonce.auteur.prenom }}
									</div>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-5"></div>
	</div>
{% endblock %}
