{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/profil.css") }}">
    <style>
        .container{
            margin-top: 55px;
        }
        .jc-bs3-container.container{
            background: none!important;
        }
        #profil_genre, label[for="profil_genre"], label[for="profil_avatar"]{
            display: none;
        }
        textarea[profil_presentation]{
            height: 4981px;
        }
        #infoProfil{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width:98%;
            margin: 0 auto;
            padding: 6px 104px 17px 56px;
            background: #f3f3f3;
            border-radius: 15px;
            border: 1px solid #c4c3c3;
            height: 100%;
        }

        #SupprimerCompte{
            width: 106%;
            height: 290px;
            background-color: white;
            margin: 0 auto;
            margin-top: 74px;
            border-radius: 13px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center
        }




        #titleSupprimerCompte{
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.7em;
        }
        #textSupprimerCompte{
            width: 100%;
            text-align: left;
            font-size: 1.3em;
        }

        #buttonSupprimerCompte {
            display: flex;
            width: 73%;
            /* position: relative; */
            bottom: 0;
            text-align: center;
            height: 45px;
            margin: 0 auto;
            background: #E74C3C;
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            color: white;
            margin-top: 40px;
        }
        div#ContainerImageProfil{
            display: flex;
            align-items: center;
            margin-bottom: 60px;
        }

        .container {
            width: 100% !important;
            background-color: #F3F3F3;
            margin: 0;
            padding: 0;
            max-width: 100%;
        }

        #imageProfil {
            width: 133px;
            clip-path: ellipse(49% 28%);
            margin-right: 22px;
        }

        textarea {
            border-radius: 8px;
            width: 485px;
            height: 470px;
        }

        #chanePassword{
            width: 87%;
            height: 290px;
            background-color: white;
            margin: 0 auto;
            margin-top: 543px;
            border-radius: 13px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center
        }
        #changerLePassword {
            width: 48%;
        }

        #inpotdeuxPassword {
            margin-top: 16px;
        }

        #changerBotton {
            margin-top: -19px;

        }
        input#profil_password {
            margin-top: 16px;
        }
    </style>
{% endblock %}

{% block body %}



<body>
    <div class="container">
        {{ form_start(formProfil, {"action": path('modifier_form', {'id': idUser})}) }}
        {{ form_errors(formProfil) }}
        <div class="row">
            <div class="col-sm">
                    <div id="infoProfil">
                        <div class="avatar">
                            {{ form_row(formProfil.avatar) }}
                        </div>
                        <div id="ContainerImageProfil" class="imgProfil">
                            <img id="imageProfil" src="{{app.user.avatar}}" alt="">
                            <div class="nom">
                                {{ prenomUser }}
                            </div>
                        </div>


                        <div class="form-group">
                            <H4>Données personnelles </H4><br>
                            {{ form_label(formProfil.prenom, 'Prénom', {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formProfil.prenom, {'attr': {'class': 'form-control'}}) }}

                            {{ form_label(formProfil.nom, 'Nom', {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formProfil.nom, {'attr': {'class': 'form-control'}}) }}

                            <td>{{ form_row(formProfil.dateDeNaissance) }}</td>

                            {{ form_label(formProfil.email, 'Email', {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formProfil.email, {'attr': {'class': 'form-control', type : "email"}}) }}

                            {{ form_label(formProfil.telephone, 'Numéro de téléphone', {'label_attr': {'class': 'col-form-label'}}) }}
                            {{ form_widget(formProfil.telephone, {'attr': {'class': 'form-control'}}) }}

                          {#aria-describedby : "emailHelp"#}
                        </div>

                        <button id="valider" type="submit" class="btn btn-primary">Valider</button>

                        <div id="SupprimerCompte" class="nav-title">
                            <h3 id="titleSupprimerCompte">Suppression du compte </h3>
                            <p id="textSupprimerCompte">Attention cette action est irréversible</p>
                            <a id="buttonSupprimerCompte" href="">Supprimer mon compte </a>
                        </div>

                    </div>
                </div>
            <div class="col-sm">
                <div id="presentation" rows="22" cols="33">
                    <td>{{ form_row(formProfil.presentation)}}</td>
                </div>
                <div id="parcours">
                    <td>{{ form_row(formProfil.etudeEtDiplome) }}</td>
                </div>
            </div>
            <div class="col-sm">
                <div id="chanePassword">
                    <h3 id="titleSupprimerCompte">Changer de mot de passe</h3>
                    <div id="changerLePassword">
                        <input type="text" name="ancienPassword" class="form-control"  placeholder="Ancien mot de passe"></td>
                        <input id="inpotdeuxPassword" type="text" name="nvPassword" class="form-control"  placeholder="Nouveau mot de passe">
                    </div>
                    <td>{{ form_row(formProfil.password) }}</td>
                    <td id="genre">{{ form_row(formProfil.genre) }}</td>
                    <button id="changerBotton" type="submit" class="btn btn-danger">Changer</button>

                </div>

            </div>
        </div>
        {{ form_end(formProfil) }}
    </div>
    </body>
{% endblock %}

{% block javascripts %}
 {{ parent() }}
    <script defer language="JavaScript">

     $('#buttonSupprimerCompte').on('click', function (e) {
        e.preventDefault();
        $.confirm({
            title: 'Supprimer !',
            content: 'Voullez vous vraiment supprimer votre compte?',
            type: 'red',
            typeAnimated: true,
            buttons: {
                tryAgain: {
                    text: 'Supprimer',
                    btnClass: 'btn-red',
                    action:function () {
                        $.ajax({
                            url:'{{ path('supprimer_compte',  {'id': idUser}) }}',
                            type: 'GET',
                            success: function(){
                                console.log('deleted !');
                            },
                            error: function () {
                                console.log('prob delete !');
                            }
                        })
                    }
                },
                close: {
                    text: 'Annuler',
                    action: function () {
                    }
                }
            }
        });
    })

</script>
{% endblock %}



