{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-6 border">
				<h1>Contacts :
				</h1>
				<hr>
				{% for message in lastMessages %}
					<div class="row">
						{% if message.source.id == connectedUser.id %}
							<div>
								<img class="rounded-circle avatar-moyen m-2" src="{{message.destinataire.avatar}}" alt="">
							</div>
							<div>
								<p>
									<a href="{{ path('messagerie_to', { 'id': message.destinataire.id }) }}">
										{{ message.destinataire }}</a>
								</p>
							</div>
						{% else %}
							<div>
								<img class="rounded-circle avatar-moyen m-2" src="{{message.source.avatar}}" alt="">
							</div>
							<div>
								<p>
									<a href="{{ path('messagerie_to', { 'id': message.source.id }) }}">
										{{ message.source }}</a>
								</p>
							</div>
						{% endif %}
						<p>{{ message.contenu }}</p>
					</div>
					<hr>
				{% endfor %}
			</div>
			<div class="col-sm-6 border">
				{% if messagesWithId is defined %}
					{% if messagesWithId[0].source.id == app.user.id  %}
						<div class="row">
							<div>
								<img class="rounded-circle avatar-moyen m-2" src="{{messagesWithId[0].destinataire.avatar}}" alt="">
							</div>
							<div class="d-flex justify-content-center">
								<p>Conversation avec
									{{messagesWithId[0].destinataire}}</p>
							</div>
						</div>
					{% else %}
						<div class="row">
							<div>
								<img class="rounded-circle avatar-moyen" src="{{messagesWithId[0].source.avatar}}" alt="">
							</div>
							<div></div>
						</div>
					{% endif %}
					<hr>
					{% for message in messagesWithId %}
						<p>
							{{ message.source }}
							:
							{{ message.contenu }}</p>
					{% endfor %}
				{% endif %}

				{% if messageForm is defined %}
					{{ form_start(messageForm) }}
					{{ form_row(messageForm.contenu, {'value':''}) }}
					{{ form_end(messageForm) }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
