<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">

		{% block stylesheets %}{% endblock %}
		</head>
		<body>
		<header>
			<nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #2c3e50">
				<a class="navbar-brand" href="">
					<img
							src="{{ asset('assets/images/icone/logo_V2.png') }}"
							height="70px"
							alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-item-custom ml-auto">
					{% if app.user %}
						<button class="btn btn-info text-white"
								style="color:#2c3e50; background-color: #798d8f; width: 150px">
							<a href="" class="text-white">Deconnecter</a>
						</button>
					{% else %}
						<button class="mr-3 text-white" style="width: 150px; border: none; background-color: #2c3e50">
							<a href="" class="text-white">Se Connecter</a>
						</button>
						<button class="btn btn-info text-white"
								style="color:#2c3e50; background-color: #798d8f; width: 150px">
							<a  class="text-white">S'inscrire</a>
						</button>
					{% endif %}
				</div>
			</nav>
		</header>

		{% block body %}{% endblock %}

<footer class="container mx-0  my-auto footer-style">
    <nav class="navbar-brand navbar-style">
    <div class="text-center media-style">
        <img src="{{ asset('assets/images/icone/logoOriginal1080X1080.png') }}"
             height="100px"
             alt="">
        <div class="text-center icons">
            <div class="border-bottom">
                <h5 class="text-white mr-3">Suivez-nous</h5>
            </div>
            <div class="my-2">
                <img class="mx-2" src="{{ asset('assets/images//icone/facebook.png') }}" alt="" height="20px" />
                <img src="{{ asset('assets/images//icone/twitter.png') }}" alt="" height="20px" />
            </div>
        </div>
    </div>
    </nav>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
